@import url('https://fonts.googleapis.com/css2?family=Oranienbaum');

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  color: #111;
  text-decoration: none;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Oranienbaum, serif";
  font-weight: "400";
  font-style: "normal";
}

